
body, html {
    max-height: 100%;
}


.iconbar {position:absolute;
  top:8%;
  right:0%;
    width: 5%;
    background-color:black;
    position: fixed;
      opacity:0.8;
    z-index: 0;
}

.iconbar a {z-index: 1;
    display: block;
    padding: 10px;

  }

.iconbar a:hover {
    background-color: black;
    opacity:0.6;
}
h1 {border-left: none;
border-bottom: 4.8pt solid white;
border-right: none;
border-top: none;}

@-webkit-keyframes spin {
  from {-webkit-transform: translate(-50%, -50%)
rotate(0deg) scale(1.5);}
  to {-webkit-transform: translate(-50%, -50%)  rotate(0deg) scale(0.5);}
}
@keyframes spin {
  from {-webkit-transform: translate(-50%, -50%)
rotate(0deg) scale(1.5);}
  to {-webkit-transform: translate(-50%, -50%)  rotate(0deg) scale(0.5);}
}
#spinner1 {z-index: 1;
height: 10vh;
width: 10vh;
border-radius:50%;
background-color:black;
opacity:0.7;
transition-timing-function: ease;
-webkit-animation: spin 0.6s infinite alternate;
animation: spin 0.6s infinite alternate;
}
.center {position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}
#poesia {display: none;}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

    h2 {
      color:grey;
      margin-left:1.25em;
      font-family:monospace;
      font-size:3em;
    animation-duration: 0.4s;
    animation-name: slidein;
  }
  h2:hover {
    color:#FF42F9;

}


    h3 {color:white;
    font-family:sans-serif;
    font-size: 2em;}


  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 70%;
    }
  }
a {color:white;
text-decoration: none;}
a:hover {
  color: grey;
text-decoration: underline;
}
p { color:black;
  font-family:monospace;
  margin-left:2em;
 font-size: 1.6em;}


 strong {
   font-family:monospace;
  font-size: 1.5em;
  color:white;}

body {background-image: url("statuapizzo2.jpg");
z-index: 3;
background-color:black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  font-family:sans-serif;
  }
  background {opacity:1;}
  .flex {max-width: 100%}

#navbar {background-color: black;
opacity:0.7;
width:100%;
height:60px;
position:absolute;
top: 0px;
left: 0px;
position: fixed;
border-bottom: 0.5pt solid white;
}
 #elements {
font-size:16pt;
text-decoration: none;
 float: left;
margin-left:25px;
z-index: 100;
color:#C140FF;
margin-top: 0px;}
#elements:hover {font-size:20pt;
border-bottom: 2pt solid #FFFF00;
color: #FFFF00;}

embed {
position: absolute;
colour: purple;
right: 0%;
bottom:10%;
z-index: 1;}


ul {list-style-type:none;
    margin-left:0.2em;
  font-family: monospace;
font-color:white;}

#bottonetop {margin-left:2em;
color:white;
font-size:1.2em;
font-family: sans-serif;
cursor: pointer;
border-right: 1.1pt solid #8F8F8F;
border-bottom: 1.5pt solid #8F8F8F;
width:17.6vh;
}
#bottonetop:hover {color:#8F8F8F;
border-left: 1pt solid white;
border-bottom: none;
border-right: none;
border-top: 1.5pt solid white;
}
footer {border-top:1.5pt solid white;}
